In [1]:
# settings local:
%run "../../../common/0_notebooks_base_setup.py"

/media/paulati/Nuevo vol/paula/dh/2021/dsad_2021_paula/common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
pandas=1.1.5 already installed
bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
pytest=6.2.1 already installed
chardet=4.0.0 already installed
psutil=5.7.2 already installed
scipy=1.5.2 already installed
statsmodels=0.12.1 already installed
scikit-learn=0.23.2 already installed
xlrd=2.0.1 already installed
Running command `conda install --yes nltk=3.5.0`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.9.0 already installed
flask=1.1.2 already installed

---

<img src='../../../common/logo_DH.png' align='left' width=35%/>

En la práctica de la clase de hoy usaremos un dataset de Kaggle que tiene datos de ventas:

https://www.kaggle.com/kyanyoga/sample-sales-data

Ustedes tienen un subconjunto de los datos disponibles, que usaremos para resolver ejercicios de Numpy.

## Ejercicio 1

Leer los datos del archivo /M1/CLASE_03_Numpy/Data/sales_data_sample_excercise.csv

Este archivo tiene algunos datos numéricos y otros de tipo cadena de caracteres. 

Las columnas son:

* ORDERNUMBER: int, id de la orden

* SALES: float, monto abonado

* MONTH_ID: int, mes

* YEAR_ID: int, año

* PRODUCTLINE: str, producto

* COUNTRY: str, país de venta

¿Recuerdan que todos los elementos de una instancia de ndarray deben ser del mismo tipo? Entonces vamos a leer el archivo y crear una instancia de ndarray de tipo cadena de caracteres.

¿Qué pasaría si intentáramos crear una instancia de tipo int? ¿Y de tipo float?

In [3]:
import numpy as np

In [1]:
datos = "../Data/sales_data_sample_excercise.csv"

In [8]:
dataset = np.genfromtxt(datos, skip_header=1, delimiter='\t', dtype=str)
dataset

array([['10107', '2871', '2', '2003', 'Motorcycles', 'USA'],
       ['10121', '2765.9', '5', '2003', 'Motorcycles', 'France'],
       ['10134', '3884.34', '7', '2003', 'Motorcycles', 'France'],
       ...,
       ['10386', '5417.57', '3', '2005', 'Ships', 'Spain'],
       ['10397', '2116.16', '3', '2005', 'Ships', 'France'],
       ['10414', '3079.44', '5', '2005', 'Ships', 'USA']], dtype='<U16')

## Ejercicio 2

Crear un array numérico que tenga como valores las columna SALES y otro array de str que tenga como valores la columna COUNTRY

Ayuda: https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.astype.html

In [19]:
ventas = dataset[:,1].astype(float)
sales

array([2871.  , 2765.9 , 3884.34, ..., 5417.57, 2116.16, 3079.44])

In [20]:
pais = dataset[:, 5].astype(str)
pais

array(['USA', 'France', 'France', ..., 'Spain', 'France', 'USA'],
      dtype='<U16')

In [51]:
year = dataset[:, 3]
year

array(['2003', '2003', '2003', ..., '2005', '2005', '2005'], dtype='<U16')

## Ejercicio 3

¿Cuál fue el monto mínimo de una venta? ¿Cuál fue el monto máximo?

In [23]:
print(f'El Monto Maximo es {np.max(ventas)}, \nEl monto Minimo es {np.min(ventas)}')

El Monto Maximo es 14082.8,
El monto Minimo es 482.13

## Ejercicio 4

¿Cuántas ventas se hicieron en Spain?

Ayuda: boolean indexing

In [32]:
print(f'Se hicieron un total de {ventas[pais=="Spain"].size} en Spain')

Se hicieron un total de 342 en Spain

## Ejercicio 5

¿Qué porcentaje de las ventas se hicieron en Spain?

In [42]:
print(f'El porcentaje de ventas a Spain fue de {np.round((ventas[pais=="Spain"].size/ ventas.size) *100,2) }%')

El porcentaje de ventas a Spain fue de 12.11%

## Ejercicio 6

¿Cuál es el país de la venta de precio máximo? ¿Cuál es el id de esa venta?

Ayuda: boolean indexing

In [44]:
ventas == np.max(ventas)

array([False, False, False, ..., False, False, False])

In [45]:
pais[ventas == np.max(ventas)]

array(['USA'], dtype='<U16')

## Ejercicio 7

¿Cuál es el precio promedio de ventas en France? ¿Cuál es el desvío?

In [48]:
np.average(ventas[pais=="France"])

3537.9507006369427

In [49]:
np.std(ventas[pais=="France"])

1939.214360481481

## Ejercicio 8

¿Cuál fue el año con máximo desvío en las ventas en France?

Ayuda: https://docs.scipy.org/doc/numpy/reference/generated/numpy.unique.html

In [52]:
np.unique(year)

array(['2003', '2004', '2005'], dtype='<U16')

In [60]:
desviosFrancia = {}
for i in np.unique(year):
    mask = (year==i)&(pais== "France")
    desviosFrancia['year']= i
    desviosFrancia['desvio'] = np.std(ventas[mask])                
    print(desviosFrancia)

{'year': '2003', 'desvio': 1860.7718844747073}
{'year': '2004', 'desvio': 1837.8438485766644}
{'year': '2005', 'desvio': 2241.7723043613423}