In [1]:
# initial setup
%run "../../../common/0_notebooks_base_setup.py"

/Users/ctalamilla/Desktop/DH_DataScience/clase_09/dsad_2021/common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
pandas=1.1.5 already installed
bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
pytest=6.2.1 already installed
chardet=4.0.0 already installed
psutil=5.7.2 already installed
scipy=1.5.2 already installed
statsmodels=0.12.1 already installed
scikit-learn=0.23.2 already installed
xlrd=2.0.1 already installed
Running command `conda install --yes nltk=3.5.0`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.9.0 already installed
flask=1.1.2 already installed

Los temas que vimos en esta parte son limpieza de datos, expresiones regulares, funciones lambda, apply .

La idea de esta práctica es ejercitar los puntos que vamos a necesitar en la clase presencial.

Usaremos el dataset de las obras del Met (The Metropolitan Museum of Art)

https://github.com/metmuseum/openaccess/

## Ejercicio 1
Vamos a leer en la variable `data` los datos del archivo /M2/CLASE_05_Limpieza_de_datos/Data/MetObjects_sample.csv en un `DataFrame` de pandas con el método `read_csv` 

Veamos de qué tipos de datos son las columnas.

In [5]:
import pandas as pd

# local
data_location = "../Data/MetObjects_sample.csv"

data = pd.read_csv(data_location)

data.head(3)

,Unnamed: 0,Object Number,Is Highlight,Is Public Domain,Is Timeline Work,Object ID,Department,AccessionYear,Object Name,Title,...,Excavation,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL
0,297513,Inst.1980.3.1,False,False,False,442985,Islamic Art,NaN,Illustrated single work,Illustrated Single Work,...,NaN,NaN,Codices,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",Abstraction,http://vocab.getty.edu/page/aat/300056508
1,366196,175T49 R43,True,False,False,591826,The Libraries,NaN,NaN,Vita del Tintoretto,...,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q29385980,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN
2,380983,WW.550,False,False,False,650203,Drawings and Prints,NaN,Print,Flowers and Dragonfly,...,NaN,NaN,Prints,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN,"Metropolitan Museum of Art, New York, NY",Dragonflies|Flowers,http://vocab.getty.edu/page/aat/300310476|http...

## Ejercicio 2
¿Qué campos tienen valores nulos? ¿Qué porcentaje de nulos tienen cada uno de ellos?

In [7]:
data.columns

Index(['Unnamed: 0', 'Object Number', 'Is Highlight', 'Is Public Domain',
       'Is Timeline Work', 'Object ID', 'Department', 'AccessionYear',
       'Object Name', 'Title', 'Culture', 'Period', 'Dynasty', 'Reign',
       'Portfolio', 'Artist Role', 'Artist Prefix', 'Artist Display Name',
       'Artist Display Bio', 'Artist Suffix', 'Artist Alpha Sort',
       'Artist Nationality', 'Artist Begin Date', 'Artist End Date',
       'Artist Gender', 'Artist ULAN URL', 'Artist Wikidata URL',
       'Object Date', 'Object Begin Date', 'Object End Date', 'Medium',
       'Dimensions', 'Credit Line', 'Geography Type', 'City', 'State',
       'County', 'Country', 'Region', 'Subregion', 'Locale', 'Locus',
       'Excavation', 'River', 'Classification', 'Rights and Reproduction',
       'Link Resource', 'Object Wikidata URL', 'Metadata Date', 'Repository',
       'Tags', 'Tags AAT URL'],
      dtype='object')

In [9]:
data.isnull().sum().apply( lambda x: (x / data.shape[0])*100).sort_values(ascending= False)

Metadata Date              100.000000
River                       99.746996
State                       99.620493
Locus                       99.346405
County                      98.545225
Reign                       98.503057
Excavation                  98.460890
Artist Suffix               98.334388
Locale                      98.313304
Rights and Reproduction     97.301286
Subregion                   97.174784
Portfolio                   96.963947
Dynasty                     96.120599
Region                      95.635674
Object Wikidata URL         95.424837
City                        94.476070
Geography Type              88.762387
Country                     86.042589
Artist Prefix               84.482395
Artist Gender               79.084967
Artist Wikidata URL         72.317099
Period                      72.190597
Artist Nationality          66.814253
Artist ULAN URL             62.492094
Artist End Date             55.977230
Artist Begin Date           55.787476
Artist Display Bio          55.471221
Tags AAT URL                52.435168
Tags                        52.435168
Culture                     51.127978
Artist Role                 49.736454
Artist Alpha Sort           49.441282
Artist Display Name         49.441282
Object Date                 33.101413
AccessionYear               21.083702
Title                       17.478389
Dimensions                  10.710521
Classification               9.487666
Medium                       2.783049
Object Name                  1.855366
Credit Line                  1.265022
Is Public Domain             0.000000
Object ID                    0.000000
Is Highlight                 0.000000
Object Number                0.000000
Is Timeline Work             0.000000
Repository                   0.000000
Department                   0.000000
Link Resource                0.000000
Object End Date              0.000000
Object Begin Date            0.000000
Unnamed: 0                   0.000000
dtype: float64

In [18]:
data.apply(lambda x: x.isnull().sum(), axis=0).sort_values(ascending= False)

Metadata Date              4743
River                      4731
State                      4725
Locus                      4712
County                     4674
Reign                      4672
Excavation                 4670
Artist Suffix              4664
Locale                     4663
Rights and Reproduction    4615
Subregion                  4609
Portfolio                  4599
Dynasty                    4559
Region                     4536
Object Wikidata URL        4526
City                       4481
Geography Type             4210
Country                    4081
Artist Prefix              4007
Artist Gender              3751
Artist Wikidata URL        3430
Period                     3424
Artist Nationality         3169
Artist ULAN URL            2964
Artist End Date            2655
Artist Begin Date          2646
Artist Display Bio         2631
Tags AAT URL               2487
Tags                       2487
Culture                    2425
Artist Role                2359
Artist Alpha Sort          2345
Artist Display Name        2345
Object Date                1570
AccessionYear              1000
Title                       829
Dimensions                  508
Classification              450
Medium                      132
Object Name                  88
Credit Line                  60
Is Public Domain              0
Object ID                     0
Is Highlight                  0
Object Number                 0
Is Timeline Work              0
Repository                    0
Department                    0
Link Resource                 0
Object End Date               0
Object Begin Date             0
Unnamed: 0                    0
dtype: int64

## Ejercicio 3

Analicemos la columna Object Date

¿Qué formato tienen los valores de este campo? ¿Qué patrones pueden identificar?

Sugerencia: recuerden el método value_counts
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html

In [12]:
type(data['Object Date'][1])

str

In [13]:
data['Object Date']

0                            20th century
1                                    1642
2                                    1911
3                                    1909
4                           June 20, 1867
                      ...
4738                    1782, 2nd edition
4739                             ca. 1938
4740    3rd century B.C.–A.D. 4th century
4741                                 1669
4742                             ca. 1925
Name: Object Date, Length: 4743, dtype: object

In [15]:
data['Object Date'].value_counts()

19th century          130
18th century           80
17th century           65
1912                   54
1911                   50
                     ...
ca. 1623                1
ca. 1730–86             1
ca. 1504–1492 B.C.      1
ca. 1968                1
1723–97                 1
Name: Object Date, Length: 1378, dtype: int64

## Ejercicio 4

Usando expresiones regulares, apply y funciones lambda, creemos un nuevo campo "ObjectDateClean" que sea de tipo numérico y tenga el valor del año corresponiente a cada registro extrayéndolo del campo ObjectDate.

¿Qué características tienen los valores de los registros que no verificaron ningún patrón de los definidos?

Ayuda: Identifiquemos los patrones y decidamos cómo extraer el año de los valores de los registros que verifican cada uno de esos patrones. Después, de a un patrón, usemos la estrategia que definimos antes para extraer el valor del año de los registros que lo verifican.

In [16]:
import re 
import numpy as np

Posiblemente veamos que nos faltó considerar:
* los valores terminados en BC o B.C., y marcar esos años como negativos 
* considerar los períodos que tienen siglos, en lugar de años
* borrar las C. que aparecen de sufijo
* Considerar pallabras mals escritas como "cenutry"

Si tienen ganas de seguir practicando pueden resolver algunos de éstos.