In [1]:
# initial setup
%run "../../../common/0_notebooks_base_setup.py"

/media/paulati/Nuevo vol/paula/dh/2021/dsad_2021_paula/common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
pandas=1.3.0 already installed
bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
pytest=6.2.1 already installed
chardet=4.0.0 already installed
psutil=5.7.2 already installed
scipy=1.5.2 already installed
statsmodels=0.12.1 already installed
scikit-learn=0.23.2 already installed
xlrd=2.0.1 already installed
nltk=3.5 already installed
unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.10.0 already installed
flask=1.1.2 already installed

<link rel="stylesheet" href="../../../common/dhds.css">
<div class="Table">
    <div class="Row">
        <div class="Cell grey left"> <img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_portada.jpg" align="center" width="70%"/></div>
        <div class="Cell right">
            <div class="div-logo"><img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/common/logo_DH.png" align="center" width=70% /></div>
            <div class="div-curso">DATA SCIENCE</div>
            <div class="div-modulo">MÓDULO 7</div>
            <div class="div-contenido">Introducción a BigQuery

</div>
        </div>
    </div>
</div>

### Agenda

---

- Bases de datos relacionales.
   - Definición.
   - Estructura de los datos.
   - Lenguaje SQL.

---

- SQLite.
   - Conexión y Cursor.
   - Consultas usando SQL.
   - Tipos de Joins.

---

- BigQuery.
   - Google Cloud.
   - Operaciones sobre BigQuery.
   - BigQuery ML.

<div class="div-dhds-fondo-1"> Bases de datos Relacionales
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M3/CLASE_21_Regresion_Lineal_Simple/Presentacion/img/M3_CLASE_21_separador.png" align="center" />

</div>

### Definición

---
La base de datos relacional es un *tipo de base de datos* que cumple con el *modelo relacional*.

Una base de datos es una **colección organizada de información estructurada**.

En el modelo relacional todos los datos son almacenados en relaciones, donde cada relación es un conjunto de datos, una **tabla**. 

<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_004_modelo.png" alt="modelo" width=60% height=45% align="center"/>

Una base de datos relacional es, en esencia, un **conjunto de tablas** (o relaciones) formadas por *filas* (registros o tuplas) y *columnas* (atributos o campos).

Cada columna tiene un nombre. Cada registro tiene un valor para cada atributo.

Una base de datos relacional es usualmente controlada por un **sistema de gestión de base de datos** (RDBMS - relational database management system).

También se lo llama *motor de bases de datos relacionales*.

<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_005_rdbms.png" alt="rdbms" width=50% height=40% align="center"/>

Existen distintos motores de bases de datos que varían en su potencia y escalabilidad. 

Algunos como Mysql o PostgreSQL son *Open Source*.

<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_006_bd_ejemplos.png" alt="bd_ejemplos" width=50% height=40% align="center"/>

### Estructura

---
Supongamos una base de datos que tiene tres tablas:

<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_007_tablas.png" alt="tablas" width=70% height=55% align="center"/>

Cada tabla debe tener al menos una columna con valores únicos para cada registro. Se la llama **clave primaria** (Primary key).

Por ejemplo, la tabla de libros tiene la columna o atributo `Codigo libro`, con un valor distinto en cada fila.

Las claves garantizan no tener registros duplicados.

<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_007_tablas.png" alt="tablas" width=50% height=40% align="center"/>

La **relación entre una tabla padre y un hijo** se lleva a cabo por medio de las claves primarias y las **claves foráneas** (Foreign Key).

Las *claves foráneas* identifican una columna o grupo de columnas en una tabla que se refiere a una columna o grupo de columnas en otra tabla.

- Por ejemplo, la tabla de devoluciones indica el libro, el lector que lo devolvió y la fecha.

   - La columna `Codigo libro` es una clave foránea; debe tener un valor que se encuentre en la columna Codigo libro de la tabla de libros.
   - La columna `Codigo Lector` también; debe tener un valor que se encuentre en la columna Codigo Lector de la tabla de lectores.

Las claves primarias y foráneas garantizan la **integridad** de la base de datos.

### Lenguaje SQL

---
SQL (Structured Query Language) es el **lenguaje estándar ANSI/ISO** de definición, manipulación y control de bases de datos (BD) relacionales.

Posee comandos referentes a:

- Definición de datos (o DDL en inglés):
  - La creación de la estructura o esquema de base de datos. 
  - La modificación de dicha estructura.


- Manipulación de datos (o DML en inglés):
  - La inserción de datos en tablas.
  - Las consultas sobre los datos de estas tablas.
  - La actualización de los datos contenidos en estas tablas.
  - La eliminación de los registros de estas tablas.
  
  
- Control:
  - Control de Transacciones como unidad de trabajo lógica.
  - Autorizar privilegios de acceso a las tablas y otros elementos de base de datos.

La sentencia básica de consulta es:

`SELECT column1, column2, ...
FROM table_name
WHERE condition
ORDER BY column1, column2, ... ASC|DESC;`

Donde: 
- `SELECT` indica las columnas que consultamos.
- `FROM` el nombre de la tabla.
- `WHERE` son las condiciones que se aplican sobre los datos.
- `ORDER BY` los campos por los que se ordena la salida.

Veamos algunos ejemplos de consultas usando SQL, a partir de una tabla de automoviles llamada *dbo.automobile* con 199 autos.

Más adelante veremos más ejemplos usando la base de datos SQLite.

<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_008_sql_tabla.JPG" alt="sql_tabla" width=40% height=35% align="center"/>

- Buscar los autos con precio mayor a 30000 y con potencia menor a 200 y ordenarlos por precio.

`select make, horsepower, price 
from dbo.automobile
where price > 30000 AND horsepower < 200
order by price`

<TABLE>
	<TR><TD>make</TD> <TD>horsepower</TD> <TD>price</TD></TR>
	<TR><TD>mercedes-benz</TD> <TD>155</TD> <TD>35056</TD></TR>
	<TR><TD>bmw</TD> <TD>182</TD> <TD>36880</TD></TR>
	<TR><TD>mercedes-benz</TD> <TD>184</TD> <TD>40960</TD></TR>
	<TR><TD>bmw</TD> <TD>182</TD> <TD>41315</TD></TR>
</TABLE>

Podemos **agrupar** en forma similar a lo que hacemos con **groupby de Pandas**.

- Contar los autos por marca. `as` permite nombrar con un alias a la columna.

`select make, count(*) as total 
from dbo.automobile
group by make
order by total desc`

<TABLE>
	<TR><TD>toyota</TD> <TD>32</TD></TR>
	<TR><TD>nissan</TD> <TD>18</TD></TR>
	<TR><TD>mitsubishi</TD> <TD>13</TD></TR>
	<TR><TD>honda</TD> <TD>13</TD></TR>
	<TR><TD>...</TD> <TD>...</TD></TR>
</TABLE>

### Bases de datos NO relacionales

---
Las **bases de datos no relacionales** son un sistema de almacenamiento de información que se caracteriza por *no usar el lenguaje SQL* para las consultas. 

Esto no significa que no puedan usar el lenguaje SQL, pero *no lo hacen como herramienta de consulta, sino como apoyo*. 

Por ello también se les suele llamar **Base de datos NoSQL**.

**No trabajan con estructuras definidas**. Es decir, los datos no se almacenan en tablas, y la información tampoco se organiza en registros o campos.

Pueden almacenar documentos, gráficos, archivos con formatos xml, etc.

Tienen una gran escalabilidad y están pensadas para la gestión de grandes volúmenes de datos.

Existen una gran variedad de motor de bases de datos no sql. 

Por ejemplo, MongoDB guarda documentos en formato JSON, lo que permite mantener estructuras anidadas.

<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_009_nobd_ejemplos.png" alt="nobd_ejemplos" width=50% height=40% align="center"/>

<div class="div-dhds-fondo-1"> SQLite
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M5/CLASE_34_CART/Presentacion/img/M5_CLASE_34_separador.png" align="center" />

</div>

### Introducción

---
Vamos a ver más consultas SQL usando una base de datos relacional.

**SQLite** es un motor de bases de datos relacionales para ambientes de "laboratorio" o prototipos.

Es una herramienta de *software libre*, que permite almacenar información tanto en *dispositivos móviles como en computadoras y desarrollo Web*.

El motor de SQLite soporta todo tipo de consultas usando el *lenguaje SQL*.

Para conocer más sobre SQLite ver <a href="https://www.sqlite.org/index.html" target="_blank">aquí</a>.

### SQLite en Python

---
Vamos a trabajar con una base de datos SQLite desde Python.

Elegimos SQLite porque **no tenemos que instalar cosas nuevas en la PC**.

La idea es construir y consultar datasets de otra forma distinta a los archivos csv.

- **No necesitamos instalar** el módulo sqlite, pues viene incluído en la librería estándar.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import sqlite3
import warnings
warnings.filterwarnings('ignore')

- El método `connect` establece una **conexión**.

Una **conexión a base de datos** es la forma en que un servidor de base de datos y su cliente se comunican. 

El cliente y el servidor pueden o no estar en una misma máquina.

El cliente utiliza una conexión a base de datos para enviar comandos y recibir respuestas del servidor.

En este ejemplo, *desde un programa Python nos conectamos a la base de datos que se crea en memoria*.

In [4]:
# Conexión a la base de datos
conn = sqlite3.connect(':memory:')

### SQLite en Python

---
Luego tenemos que crear sobre la conexión, un **cursor**.

Un cursor es una estructura de control que usamos para ejecutar comandos SQL y recorrer (y procesar) los registros del resultado de una consulta.

In [5]:
# Cursor a la base de datos
cursor = conn.cursor()

Los métodos más importantes del cursor son:

- `.execute`: ejecuta un comando SQL. Podemos crear tablas; insertar, modificar y eliminar registros, y también generar consultas.

Cuando realizamos una consulta, los registros (o filas) que obtenemos quedan en el cursor. Lo llamamos **conjunto resultado**.

Para acceder a ellos, debemos recorrer el cursor. Es similar a recorrer un vector y traer los elementos de a uno, o todos juntos.

- `.fetchone`: extrae la siguiente fila del conjunto resultado de la consulta. Devuelve una
secuencia o None cuando no queda datos.

- `.fetchall`: extrae todas las filas que queden sin consumir del conjunto resultado. Devuelve una lista.

Finalmente:

- `.close`: cierra el cursor. El cursor queda inhabilitado a partir de ese momento

Veamos un ejemplo: 
- creamos una tabla.
- insertamos (agregamos) dos registros.
- los consultamos.
- los guardamos en una lista y los mostramos.

In [6]:
# Creo la tabla
cursor.execute("""CREATE TABLE Clientes
 (ID integer primary key, nombre text, localidad text)""")
# Inserto dos registros
cursor.execute("INSERT INTO Clientes VALUES (1, 'Perez, Ricardo', 'Bogota')")
cursor.execute("INSERT INTO Clientes VALUES (2, 'Artigas, Beatriz', 'Montevideo')")
# Guardo los cambios
conn.commit()
# Consulto todas los registros
query = "SELECT * FROM Clientes"
# Dejo el conjunto resultado en una lista
clientes = cursor.execute(query).fetchall()
print(type(clientes)); print(clientes)

<class 'list'>
[(1, 'Perez, Ricardo', 'Bogota'), (2, 'Artigas, Beatriz', 'Montevideo')]

In [7]:
# Cierro la conexión a la base de datos
conn.close()

### Consultas

---
Ahora vamos a trabajar con una base de datos que contenga tablas para poder consultar.

La **base de datos Northwind** es un conjunto de tablas que recrea un esquema de ERP con clientes, pedidos, inventario, compras, proveedores, etc.

<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_012_northwind.png" alt="northwind" width=120% height=50% align="center"/>

En este ejemplo, *desde un programa Python nos conectamos a una base de datos ya creada*.

Es como realizar un read_csv de Pandas, pero para acceder a un conjunto de tablas. En los dos casos obtenemos un dataframe con los datos.

In [8]:
conn = sqlite3.connect('../Data/Northwind_small.sqlite')
cursor = conn.cursor()

Un **schema** de la base de datos es una tabla con *la descripción de todas las tablas, índices y otros objetos* de la base contenidos en la base.

Es útil comenzar consultando el schema para conocer todas las tablas de la base. Comprobamos que son las del modelo de datos Northwind.

Más sobre <a href="https://www.sqlite.org/schematab.html" target="_blank">schemas</a>.

In [9]:
query = "SELECT name FROM sqlite_schema WHERE type = 'table'"
tablas = cursor.execute(query).fetchall()
print(tablas)

[('Employee',), ('Category',), ('Customer',), ('Shipper',), ('Supplier',), ('Order',), ('Product',), ('OrderDetail',), ('CustomerCustomerDemo',), ('CustomerDemographic',), ('Region',), ('Territory',), ('EmployeeTerritory',)]

### Consultas

---
Generemos consultas sobre la base de datos. Usemos el modelo de datos que describe las tablas para resolverlas.

Todo sobre el comando SELECT con SQLite se encuentra <a href="https://www.sqlite.org/lang_select.html" target="_blank">aquí</a>.

- Traer todos los empleados cuyo apellido comience con 'D'. 
  Observar que:
    - select indica las columnas a seleccionar.
    - from, la tabla que se consulta.
    - where, las condiciones.
    - order, las columnas usadas para ordenar.
    
Devuelve una lista, donde cada elemento es una **tupla** que representa un registro del conjunto resultado.

In [10]:
query = "select LastName, FirstName from Employee where LastName like 'D%' order by LastName"
empleados = cursor.execute(query).fetchall()
empleados

[('Davolio', 'Nancy'), ('Dodsworth', 'Anne')]

Transformamos la lista en un Dataframe. Y agregamos los nombres de las columnas.

In [11]:
names = [description[0] for description in cursor.description]
df_empleados = pd.DataFrame(empleados, columns=names)
df_empleados

    LastName FirstName
0    Davolio     Nancy
1  Dodsworth      Anne

Realicemos **agrupamientos**, simil groupby de Pandas.
  
- Disponemos distintas funciones: count(*) cuenta, sum(*) suma, etc. Se pueden ver <a href="https://www.sqlite.org/lang_aggfunc.html" target="_blank">aquí</a>.
- Group by indica la columna por la que agrupamos.
- limit n trae los primeros n registros de la consulta.

---

   - Traer los 5 países con mayor cantidad de clientes, ordenados en forma descendente.

In [12]:
query = "select Country, count(ID) as total from Customer group by Country order by total desc limit 5"
clientes = cursor.execute(query).fetchall()

names = [description[0] for description in cursor.description]
df_clientes = pd.DataFrame(clientes, columns=names)
df_clientes

   Country  total
0      USA     13
1  Germany     11
2   France     11
3   Brazil      9
4       UK      7

### Joins

---
Generalmente necesitamos combinar información de distintas tablas.

Cuando trabajamos con bases de datos relacionales, el modelo de datos representa además de las tablas, *como se vinculan entre sí*.

Por ejemplo en Northwind, la tabla Customers (clientes) se relaciona con la tabla Orders (Pedidos).

La relación se dice que es **de 1 a muchos**: cada cliente puede tener de 0 a N pedidos. 

Ambas tablas se relacionan por el campo CustomerID.

<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_013_northwind_1.JPG" alt="northwind" width=80% height=50% align="center"/>

### Joins

---
**JOIN** (unir, combinar) en SQL, significa combinar registros de una o más tablas en una base de datos.

Existen varios tipos de Joins:

<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_014_joins.png" alt="northwind" width=70% height=50% align="center"/>

- **INNER JOIN**: Busca *coincidencias entre las dos tablas*, en función de una columna en común. 

- **LEFT JOIN**: Trae **todos** los registros de la tabla de la izquierda y los datos de la otra tabla *cuando coinciden*. Si no los deja con valores nulos.

- **RIGHT JOIN**: Similar a LEFT JOIN, pero desde la tabla de la derecha.

- **FULL OUTER JOIN**: Una combinación de LEFT JOIN y RIGHT JOIN.

Para conocer más sobre joins ver <a href="https://programacionymas.com/blog/como-funciona-inner-left-right-full-join" target="_blank">aquí</a>.

### INNER JOIN

---
Generemos un INNER JOIN entre las tablas Supplier (Proveedores) y Product (Productos).

In [13]:
def consulta(query):
    resultado = cursor.execute(query).fetchall()
    names = [description[0] for description in cursor.description]
    df_resultado = pd.DataFrame(resultado, columns=names)
    return df_resultado

Veamos los clientes que empiecen con la letra Q, en la tabla de Clientes.

In [14]:
df_clientes = consulta("select * from Customer where Id like 'Q%'")
df_clientes

,Id,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,QUEDE,Que Delícia,Bernardo Batista,Accounting Manager,"Rua da Panificadora, 12",Rio de Janeiro,South America,02389-673,Brazil,(21) 555-4252,(21) 555-4545
1,QUEEN,Queen Cozinha,Lúcia Carvalho,Marketing Assistant,"Alameda dos Canàrios, 891",Sao Paulo,South America,05487-020,Brazil,(11) 555-1189,None
2,QUICK,QUICK-Stop,Horst Kloss,Accounting Manager,Taucherstraße 10,Cunewalde,Western Europe,01307,Germany,0372-035188,None

Y los clientes que empiecen con la letra Q que realizaron pedidos; es decir que se encuentren en la tabla de Pedidos.

Usamos la sentencia `DISTINCT` para indicar que si encuentra varios pedidos de un mismo cliente, solo trae uno.

In [15]:
df_pedidos = consulta("select distinct CustomerID from [Order] where CustomerID like 'Q%'")
df_pedidos

  CustomerId
0      QUEDE
1      QUICK
2       QUEE

Veamos algunos registros en detalle de la tabla de Pedidos.

In [16]:
df_pedidos = consulta("select * from [Order] where CustomerID like 'Q%'")
df_pedidos.head(4)

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10261,QUEDE,4,2012-07-19,2012-08-16,2012-07-30,2,3.05,Que Delícia,"Rua da Panificadora, 12",Rio de Janeiro,South America,02389-673,Brazil
1,10273,QUICK,3,2012-08-05,2012-09-02,2012-08-12,3,76.07,QUICK-Stop,Taucherstraße 10,Cunewalde,Western Europe,01307,Germany
2,10285,QUICK,1,2012-08-20,2012-09-17,2012-08-26,2,76.83,QUICK-Stop,Taucherstraße 10,Cunewalde,Western Europe,01307,Germany
3,10286,QUICK,8,2012-08-21,2012-09-18,2012-08-30,3,229.24,QUICK-Stop,Taucherstraße 10,Cunewalde,Western Europe,01307,Germany

Podemos ver que los clientes QUEDE y QUICK realizaron pedidos, pero QUEEN no.

AL hacer un INNER JOIN entre Customer y Order **solo traerá pedidos de los clientes QUEDE y QUICK**, los que están en la intersección entre las dos tablas. 

La sentencia general es la siguiente:

`
SELECT a.a1, a.a2, b.b1, b.b2
  FROM tabla_izquierda a
INNER JOIN tabla_derecha b on a.f = b.f`

Donde:
- en SELECT agregamos los campos que seleccionamos, con *un alias como prefijo*.
  
  a.a1 significa el campo a1 de la tabla con el alias a.
- en FROM ubicamos la tabla de la izquierda y le agregamos *un alias (a)*
- en INNER JOIN ubicamos la tabla de la derecha con otro alias, y la relación entre los campos de ambas tablas.
  
  En el ejemplo, relacionamos ambas tablas por el ID del CLiente.
- en WHERE agregamos las condiciones que necesitemos.

In [17]:
query = "SELECT c.ID as Cliente, c.CompanyName, O.ID as IDPedido, O.OrderDate as FechaPedido \
           FROM Customer C \
          INNER JOIN [Order] O on C.ID = O.CustomerID \
          where CustomerID like 'Q%'"
df_pedidos = consulta(query)
pd.set_option('display.max_rows', 10)
df_pedidos

   Cliente  CompanyName  IDPedido FechaPedido
0    QUEDE  Que Delícia     10261  2012-07-19
1    QUICK   QUICK-Stop     10273  2012-08-05
2    QUICK   QUICK-Stop     10285  2012-08-20
3    QUICK   QUICK-Stop     10286  2012-08-21
4    QUEDE  Que Delícia     10291  2012-08-27
..     ...          ...       ...         ...
32   QUICK   QUICK-Stop     10962  2014-03-19
33   QUEDE  Que Delícia     10989  2014-03-31
34   QUICK   QUICK-Stop     10991  2014-04-01
35   QUICK   QUICK-Stop     10996  2014-04-02
36   QUICK   QUICK-Stop     11021  2014-04-14

[37 rows x 4 columns]

### LEFT JOIN

---
Generemos un LEFT JOIN entre las tablas Supplier (Proveedores) y Product (Productos).

Vamos a usar el mismo ejemplo, los clientes que empiecen con la letra Q.

---

Habiamos visto que los clientes QUEDE y QUICK realizaron pedidos, pero QUEEN no.

AL hacer un LEFT JOIN entre Customer y Order **trae también el registro del cliente QUEEN**, pero como no tiene pedidos **los completa con nulos**.

La sentencia general es similar a INNER JOIN:

`
SELECT a.a1, a.a2, b.b1, b.b2
  FROM tabla_izquierda a
LEFT JOIN tabla_derecha b on a.f = b.f`

Vamos a hacer el LEFT JOIN, pero en la condición le pedimos que solo seleccione al cliente QUEEN.

Comprobamos que completa los datos del pedido con nulos.

In [18]:
query = "SELECT c.ID as Cliente, c.CompanyName, O.ID as IDPedido, O.OrderDate as FechaPedido \
           FROM Customer C \
          LEFT JOIN [Order] O on C.ID = O.CustomerID \
          where C.ID ='QUEEN'"
df_pedidos = consulta(query)
pd.set_option('display.max_rows', 10)
df_pedidos

  Cliente    CompanyName IDPedido FechaPedido
0   QUEEN  Queen Cozinha     None        None

### Instalación de SQLite (opcional)

---
Les dejamos las instrucciones para instalar la base SQLite en sus PCs; y poder trabajar los datos con una interfaz gráfica llamada SQLite Browser.

Para descargar el instalador de SQLite ir a la página: https://www.sqlite.org/download.html

- Para Windows seleccionar: sqlite-tools-win32-x86-3360000.zip:

<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_010_instalacion.JPG" alt="instalacion" width=15% height=20% align="center"/>

- Para Mac seleccionar: sqlite-tools-osx-x86-3360000.zip:

<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_011_instalacion_mac.JPG" alt="instalacion_mac" width=30% height=40% align="center"/>

Luego, en ambos casos, al finalizar la descarga:
  1. Crear una carpeta nueva, por ejemplo, `C:\sqlite`
  2. Extraer el contenido del archivo descargado previamente en esa carpeta.
  3. Ver el archivo sqlite3.exe en la carpeta; es el ejecutable.

### Instalación de SQLite Browser

---
SQLite Browser es una aplicación gratuita que nos permite administrar y consultar una base de datos SQLite **mediante una interfaz gráfica**.

Para descargar el instalador de SQLite Browser ir a la página: https://sqlitebrowser.org/dl/

Seleccionar el archivo **DB Browser for SQLite - Standard installer** (32 bit
o 64 bits según corresponda), e instalarlo como cualquier programa.

Para Mac seleccionar **DB Browser for SQLite**.

También se ofrece una versión portable, para ejecutar el programa sin necesidad de instalarlo.

<div class="div-dhds-fondo-1"> BigQuery
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M5/CLASE_34_CART/Presentacion/img/M5_CLASE_34_separador.png" align="center" />

</div>

### Introducción

---
*Google Cloud* consiste en un **conjunto de recursos físicos y virtuales** disponibles en centros de datos de Google en todo el mundo.

Para acceder a los recursos, nos ofrecen **servicios**, entre los que se encuentran:

- BigQuery.

- Cloud Storage: almacenamiento seguro, duradero, escalable y con redundancia.
  
- Google Kubernetes: Ofrece distintas plantillas de infraestructura para las aplicaciones.

<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_001_cloud.JPG" alt="cloud" width=70% height=55% align="center"/>

Todos los servicios de Google Cloud que usamos deben pertenecer a un **proyecto**. 

El proyecto puede considerarse la entidad organizadora, donde describimos la configuración, los permisos y metadatos que definen a los servicios.

Al proyecto le asignamos un nombre, y Google Cloud le asigna un ID.

<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_002_proyecto.JPG" alt="proyecto" width=50% height=40% align="center"/>

Para mas detalles ver <a href="https://cloud.google.com/docs/overview" target="_blank">aquí</a>

Para interactuar con los servicios, una forma es usar la consola llamada **Google Cloud Console**.

Proporciona una interfaz gráfica de usuario basada en la Web que permite administrar los proyectos y servicios de Google Cloud.

<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_003_console.JPG" alt="console" width=100% height=80% align="center"/>

### BigQuery

---

Google BigQuery es un *repositorio de datos* para empresas que permite almacenar y consultar **grandes conjuntos grandes de datos**, usando el *poder de procesamiento* de la infraestructura de Google.
 
Algunas características son:

- Permite manejar el *control de acceso* a los datos.

- Proporciona un *lenguaje similar a SQL* para consultar los datos.

- Los datos se organizan en *tablas*.

- BigQuery GIS permite generar análisis geoespaciales.

- BigQuery Omni permite realizar estadísticas de múltiples nubes.

En BigQuery *se cobra* por el almacenamiento, las consultas y las inserciones de transmisión, pero la carga y la exportación de datos son gratuitas.

Tiene un <a href="https://cloud.google.com/bigquery/pricing#free-tier" target="_blank">Nivel de uso gratuito</a> , que consiste en:

- Almacenamiento: Los 10 primeros GB del mes son gratuitos.
- Consultas: El primer TB de datos de consultas procesado del mes es gratuito.
- Consultas CREATE MODEL de BigQuery ML: Los 10 primeros GB de datos de consultas con declaraciones CREATE MODEL son gratuitos.

### Operaciones

---
En la notebook **intro_BigQuery** vemos como se usa, desde la Consola de Google y las notebooks.

Los pasos más importantes son:

- Crear un usuario en la consola de Google Cloud. 

- Crear un proyecto.

- Crear una Cuenta de servicio. 
  Es un tipo especial de cuenta que usa una aplicación o una instancia de máquina virtual (VM), **no una persona**.
  
  BigQuery puede ejecutarse como una cuenta de servicio, y esa cuenta puede obtener permisos para acceder a los recursos que necesita.
  
  Permite generar las credenciales para usar BigQuery desde las notebooks.

- Usar *datasets públicos* para consultar.

- Generar *consultas usando el lenguaje SQL*.

- Guardar los resultados en *tablas* dentro de nuestro proyecto en Google Cloud.

- Guardar los resultados en *dataframe Pandas* de la notebook.

### BigQuery ML

---
BigQuery ML permite a los usuarios **crear y ejecutar modelos de aprendizaje automático** en BigQuery mediante consultas de SQL.

Los modelos se crean a partir de datos estructurados o semiestructurados almacenados en BigQuery. 

El comando CREATE MODEL en BigQuery entrena el modelo.

- Por ejemplo, a partir de un dataset de nacimientos, creamos un modelo, indicando en `OPTIONS` que es una regresión lineal y `weight_pounds` la variable target.

`CREATE MODEL bqml_tutorial.natality_model
OPTIONS (model_type='linear_reg', input_label_cols=['weight_pounds']) AS
SELECT  weight_pounds, is_male,  gestation_weeks,  mother_age, mother_race
FROM  bigquery-public-data.samples.natality`

<div class="div-dhds-fondo-1"> Conclusiones
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M5/CLASE_34_CART/Presentacion/img/M5_CLASE_34_separador.png" align="center" />

</div>

## Conclusiones

---
Las **bases de datos relacionales** nos permiten almacenar los datos en varias tablas y vincularlas.

Podemos conectarnos a la base y generar comandos para crear tablas, manejar los datos y consultarlos.

---

**SQLite** es una base de datos que nos permite manejar una base de datos desde Python

---

Vimos distintos **JOIN**, formas de relacionar las tablas.

---

**BIGQUERY** es un repositorio de datos ofrecido por Google y basado en la plataforma Google Cloud.

Nos permite almacenar información y consultarla, desde la consola de Google y desde nuestras Notebooks.

Tener presente que tiene un *Nivel de uso gratuito*, pero superado esos límites se debe pagar.

<div class="div-dhds-fondo-1"> Hands-on
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M3/CLASE_21_Regresion_Lineal_Simple/Presentacion/img/M3_CLASE_21_separador.png" align="center" />

</div>

### Ejercicio

----

Vamos a realizar consultas sobre la base de datos relacional NorthWind.

<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M7/CLASE_53_Intro_BigQuery/Presentacion/img/M7_CLASE_53_012_northwind.png" alt="northwind" width=120% height=50% align="center"/>

### Ejercicio

----

- Seleccionar los productos con precio unitario mayor a 60 y con stock, ordenados por los que tienen más stock. 

- Seleccionar las 3 regiones con más Proveedores (Supplier).

- Seleccionar los productos que venden los proveedores de la región 'North America' 

**NOTA**: es recomendable listar unos registros de las tablas a consultar, para conocer todas las columnas y los datos.

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [20]:
conn = sqlite3.connect('../Data/Northwind_small.sqlite')
cursor = conn.cursor()

In [21]:
def consulta(query):
    resultado = cursor.execute(query).fetchall()
    names = [description[0] for description in cursor.description]
    df_resultado = pd.DataFrame(resultado, columns=names)
    return df_resultado

### Solución

---

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [23]:
conn = sqlite3.connect('../Data/Northwind_small.sqlite')
cursor = conn.cursor()

In [24]:
def consulta(query):
    resultado = cursor.execute(query).fetchall()
    names = [description[0] for description in cursor.description]
    df_resultado = pd.DataFrame(resultado, columns=names)
    return df_resultado

### Ejercicio

----
- Seleccionar los productos con precio unitario mayor a 60 y con stock, ordenados por los que tienen más stock.

In [25]:
df_productos = consulta("select * from [Product]")
df_productos.head(3)

,Id,ProductName,SupplierId,CategoryId,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.0,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.0,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.0,13,70,25,0

In [26]:
query = "select * from Product \
         where UnitPrice > 60 and UnitsInStock > 0 \
         order by UnitsInStock desc"
df = consulta(query)
df

,Id,ProductName,SupplierId,CategoryId,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,18,Carnarvon Tigers,7,8,16 kg pkg.,62.5,42,0,0,0
1,20,Sir Rodney's Marmalade,8,3,30 gift boxes,81.0,40,0,0,0
2,9,Mishi Kobe Niku,4,6,18 - 500 g pkgs.,97.0,29,0,0,1
3,38,Côte de Blaye,18,1,12 - 75 cl bottles,263.5,17,0,15,0

### Ejercicio

----
- Seleccionar las 3 regiones con más Proveedores (Supplier).

In [27]:
df_proveedores = consulta("select * from [Supplier]")
df_proveedores.head(3)

,Id,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,HomePage
0,1,Exotic Liquids,Charlotte Cooper,Purchasing Manager,49 Gilbert St.,London,British Isles,EC1 4SD,UK,(171) 555-2222,None,None
1,2,New Orleans Cajun Delights,Shelley Burke,Order Administrator,P.O. Box 78934,New Orleans,North America,70117,USA,(100) 555-4822,None,#CAJUN.HTM#
2,3,Grandma Kelly's Homestead,Regina Murphy,Sales Representative,707 Oxford Rd.,Ann Arbor,North America,48104,USA,(313) 555-5735,(313) 555-3349,None

In [28]:
query = "select Region,count(*) as total from [Supplier] \
         group by Region \
         order by total desc \
         limit 3"
df = consulta(query)
df

            Region  total
0   Western Europe      6
1    North America      6
2  Northern Europe      4

### Ejercicio

----
- Seleccionar los productos que venden los proveedores de la región 'North America'

In [29]:
query = "SELECT S.CompanyName as Proveedor, P.ProductName \
           FROM Supplier S \
          INNER JOIN [Product] P on S.ID = P.SupplierID \
          where S.Region = 'North America'"
df_pedidos = consulta(query)
pd.set_option('display.max_rows', None)
df_pedidos

                      Proveedor                       ProductName
0    New Orleans Cajun Delights      Chef Anton's Cajun Seasoning
1    New Orleans Cajun Delights            Chef Anton's Gumbo Mix
2     Grandma Kelly's Homestead      Grandma's Boysenberry Spread
3     Grandma Kelly's Homestead   Uncle Bob's Organic Dried Pears
4     Grandma Kelly's Homestead        Northwoods Cranberry Sauce
5             Bigfoot Breweries                     Sasquatch Ale
6             Bigfoot Breweries                    Steeleye Stout
7   New England Seafood Cannery                  Boston Crab Meat
8   New England Seafood Cannery   Jack's New England Clam Chowder
9                     Ma Maison                         Tourtière
10                    Ma Maison                      Pâté chinois
11             Forêts d'érables                    Sirop d'érable
12             Forêts d'érables                    Tarte au sucre
13   New Orleans Cajun Delights  Louisiana Fiery Hot Pepper Sauce
14   New Orleans Cajun Delights         Louisiana Hot Spiced Okra
15            Bigfoot Breweries         Laughing Lumberjack Lager

<div class="div-dhds-fondo-1"> Referencias y Material Adicional
<img src="https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_2021_img/master/M3/CLASE_21_Regresion_Lineal_Simple/Presentacion/img/M3_CLASE_21_separador.png" align="center" />

</div>

### Referencias y Material Adicional

---
<a href="https://www.sqlite.org/index.html" target="_blank">SQLite home</a>

<a href="https://cloud.google.com/docs/overview" target="_blank">Google Cloud overview</a>

<a href="https://cloud.google.com/bigquery/docs/quickstarts" target="_blank">BigQuery - Guías de inicio rápido</a>